#train-name {

  
}

#destination {
  

}

#first-train-time {
    

}


#frequency {
    

}


#submit {


}

#header-name {
    margin-left: auto;
    margin-right: auto;

    font-family: 'URW Chancery L', cursive; 
    
}

/* 
.jumbotron {
background-image: url("assets/images/mountains.png");
} */

/* .jumbotron {
background-color: teal;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
} */


.jumbotron {
    margin-bottom: 0px;
    background-image: url("assets/images/mountains.JPG");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

#incoming-trains {
    height: 70px;
    font-family: 'URW Chancery L', cursive; 
    text-align: center;
    font-size: 45px;
 
    

}

#add-train {
    font-size: 18px;
    text-align: center;
    font-family: 'URW Chancery L', cursive; 
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 30px;
    width: 100px;

}


.option-heads {
     background-color: teal; 
    font-size: 17px;
    text-align: center;
    font-family: 'URW Chancery L', cursive; 
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 30px;
    width: 100px;
    color: white;
    
}


.option-heads2 {
    background-color: teal; 
   font-size: 17px;
   text-align: center;
   font-family: 'URW Chancery L', cursive; 
   text-shadow: black 0.3em 0.3em 0.3em;
   height: 50px;
   width: 100px;
   color: white;
   
}



/* body {
    background-image: url("assets/images/tracks.jpg");
} */